name: Publish Package to npm

on:
    release:
        types: [created]

permissions:
    contents: read
    id-token: write

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v6

            - name: Use Node.js 24
              uses: actions/setup-node@v6
              with:
                  node-version: 24.x
                  cache: 'npm'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Publish to npm
              run: npm publish --provenance --access public
